@import "comuns/barraNavegacion.css";

body{
  margin: 0;
  padding: 0;
}

.container__main{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.container__izq{
  min-width: 100;
  width: 12%;
  height: 210px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.opcion_actividad{
  background-color: white;
  padding: 15%;
  border: thin solid #EEEEEE;
}

.opcion_actividad:hover{
  border-left: 3px solid var(--cor-laranxa-principal);
  cursor: hand;
}

.container__dcho{
  min-width: 500;
  width: 68%;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  margin-right: 12px;
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 10% 30% 20% 10% 30%;

}

.container__dcho > div{
  border: thin solid #EEEEEE;
}

.celda_titulo{
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
}

.celda_titulo h2{
  margin-left: 10px;
  font-weight: 300;
}

.celda_info_principal{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.celda_info_principal p, h1{
  margin-left: 20px;
}

.celda_info_principal h1{
  margin-top: 10px;
  font-weight: 500;
}

.foto_perfil-actividade{
  height: 100px;
  width: auto;
  border-radius: 50%;
  margin-left: 25px;
}

.celda_descripcion{
  grid-row: 3 / 5;
  padding: 15px;
}

.celda_descripcion h3{
  margin-bottom: 10px;
}

.celda_grupo_actividade{
  padding: 15px;
}

.lista_amigos{
  margin-left: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: flex-start;
  grid-column-gap: 20px;
  grid-row-gap: 8px;
  font-size: 85%;
}

.lista_amigos img{
  margin-top: 12px;
  height: 50px;
  width: 50px;
  border-radius: 50%;

}



.celda_distancia{


}

.celda_tempo{


}

.celda_ritmo{
  grid-column: 2 / 4;

}

.celda_equipamento{
  grid-row: 4 / 6;
  grid-column: 2 / 4;
  padding: 15px;
}

.celda_equipamento h3{
  margin-bottom: 15px;
}

.contenido_centrado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenido_centrado h2{
  margin-bottom: 15px;
}
