@import "comuns/barraNavegacion.css";

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container__vertical{
  margin-top: 100px;
  width: 81%;
  display: flex;
  flex-direction: column;
  align-self: center;

}

.buscador{
  margin-top: 35px;
  height: 92px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10;
}

.buscador input[type=text]{
  width: 20%;
  height: 36px;
  margin-right: 29px;
  font-size: 100%;
  font-weight: 300;
  border: 1px solid var(--cor-bordes-input); /* Cor gris escura */
  border-radius: 8px;
  padding: 5 7;
  outline: none;
}

input[type=text]:focus {
  border-width: 2px;
}

input[type=text]:hover {
  border-color: var(--cor-laranxa-principal);
}

.btn_buscar {
  background-color: white;
  padding: 7 15;

  font-size: 100%;
  font-weight: 300;

  border-radius: 2px;
  border: 1px solid var(--cor-bordes-input);

  outline: none;
}

.btn_buscar:focus{
  border-color: #9c9c9c;
}

.btn_buscar:hover{
  cursor: hand;
  background-color: #f5f5f5;
}

.btn_buscar:active {
  background-color: #e6e6e6;
}

.deportista{
  height: 134px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deportista_impar{
  background-color: #EEEEEE;
}

.deportista_par{
  background-color: white;
}

.deportista h4{
  font-size: 20px;
  margin-bottom: 5px;
}

.deportista p{
  font-size: 20px;
}

.deportista button{
  width: 135px;
  height: 36px;
  margin-right: 29px;
  font-size: 17;
  font-weight: 700;
  border-style: none;
  border-radius: 8px;
  color:white;
  background-color:#FF8A00;
}

.fotoPerfil {
  margin-left: 50px;
  height: 70%;
  width: height;
  border-radius: 50%;
}
