@import "comuns/barraNavegacion.css";

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: hand;
}

.container__vertical{
  margin-top: 100px;
  width: 81%;
  display: flex;
  flex-direction: column;
  align-self: center;

}

.buscador{
  margin-top: 35px;
  height: 92px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10;
}

.buscador input[type=text]{
  width: 20%;
  min-width: max-content;
  height: 36px;

  margin-right: 29px;

  font-size: 100%;
  font-weight: 300;

  border: 1px solid var(--cor-bordes-input); /* Cor gris escura */
  border-radius: 8px;
  padding: 5 7;
  outline: none;
}

.buscador input[type=text]:focus {
  border-width: 2px;
}

.buscador input[type=text]:hover {
  border-color: var(--cor-laranxa-principal);
}

.btn_buscar {
  background-color: white;
  padding: 7 15;

  font-size: 100%;
  font-weight: 300;

  border-radius: 2px;
  border: 1px solid var(--cor-bordes-input);

  outline: none;
}

.btn_buscar:focus{
  border-color: #9c9c9c;
}

.btn_buscar:hover{
  background-color: #f5f5f5;
}

.btn_buscar:active {
  background-color: #e6e6e6;
}

.deportista{
  height: 134px;
  display: flex;
  justify-content: space-between;
  min-width: max-content;
  padding: 20 0;
}

.deportista_impar{
  background-color: #EEEEEE;
}

.deportista_par{
  background-color: white;
}

.deportista h4{
  font-size: 133%;
  margin-bottom: 5px;
  width: max-content;
}

.deportista p{
  font-size: 133%;
  width: max-content;
}

.deportista button{
  width: 135px;
  height: 36px;
  font-size: 110%;
  font-weight: 700;
  border-style: none;
  border-radius: 8px;
  color: white;
  background-color: var(--cor-laranxa-principal);

  outline: none;
}

.deportista button:hover, .deportista button:focus{
  background-color: var(--cor-laranxa-hover);
}

.fotoPerfil {
  width: 90;
  border-radius: 50%;
}

.figure_fotoPerfil {
  margin-right: 40;
}

.div-der p {
  width: 40%;
  min-width: max-content;
  text-align: right;
  margin-left: 50;
  margin-right: 50;
}

.div-esq {
  min-width: 50%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 60;
}

.div-der {
  width: 50%;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-right: 80;
  margin-left: 20;
}
