@import "comuns/barraNavegacion.css";

body{
  margin: 0;
  padding: 0;
}

.container__main{
  display: flex;
  justify-content: center;
  padding-top: 81px;
}

.container__izq{
  width: 570;
  height: 461;
  background-color: white;
  border-radius: 8px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 61px;
}

.titulo{
  color: #FF8A00;
  font-size:125px;
  font-weight: 700;
}

.eslogan {
  font-size: 50px;
  font-weight: 300;
  color: #8f8f8f;
}

.container__dcho{
  width: 376;
  height: 514;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
}

/* Eliminamos o bordeado cando se fai focus */
input:focus, button:focus {
  outline: none;
}

button:hover {
  cursor: hand;
}

input[type=text]{
  font-size: 22px;
  padding: 18px;
  width: 324px;
  height: 63px;
  border-radius: 12px;
  border-width: 2px;
  margin-bottom: 36px;
  /* Eliminamos o efecto do borde */
  border-style: solid;
}

input[type=text]:hover {
  border-radius: 12px;
  border-color: #FF8A00;
}

input[type=text]:focus {
  border-width: 3;
}

.boton_acceder{
  font-size: 22px;
  font-weight: 700;
  padding: 18px;
  color:  white;
  background-color: #FF8A00;
  width: 324px;
  height: 51px;
  border-radius: 12px;
  border-width: 0;
  padding: 10;
}

.boton_acceder:hover {
  /* Cor un pelin mais escura que a cor de fondo */
  background-color: #f08200;
}

.boton_acceder:focus {
  border: 2px solid #ffb863;
}

.linea_h{
  border-top: thin solid #EEEEEE;
  width: 347px;
  margin-top: 47px;
  margin-bottom: 44px;
  border-width: 3px;
}

.boton_crear{
   font-size: 22px;
   font-weight: 700;
   padding: 18px;
   color:  white;
   background-color: #2E94AB;
   width: 186px;
   height: 51px;
   border-radius: 12px;
   border-width: 0;
   padding: 10;
}

.boton_crear:hover {
  /* Cor un pelin mais escura que a cor de fondo */
  background-color: #2b899e;
}

.boton_crear:focus {
  border: 2px solid #5dbacf;
}
