@import "comuns/barraNavegacion.css";

main {
  padding-left: 142px;
  padding-right: 142px;
}

main header {
  margin-bottom: 10;
}

main h1{
  margin-bottom: 20;
}

main header h2 {
  text-align: center;
}

main h6 {
  font-size: 80%;
  font-weight: 200;

  margin-top: 2;
  margin-bottom: 5;
}

main article {
  background-color: white;
  padding: 10;
  border-radius: 8px;

  margin-bottom: 20;
}

.linea_negra{
  border-top: 2px solid black;
  width: 100%;
  margin: 40 auto 40 auto  ;
  display: block;
}
