@import "comuns/barraNavegacion.css";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main header {
  margin-bottom: 10;
}

main h1{
  margin-bottom: 20;
}

main header h2 {
  width: 600;
  text-align: center;
}

main h6 {
  font-size: 80%;
  font-weight: 200;

  margin-top: 2;
  margin-bottom: 5;
}

main article {
  width: 600;
  background-color: white;
  padding: 10;
  border-radius: 8px;

  margin-bottom: 20;
}

.linea_negra{
  width: 600;
  border-top: 2px solid black;
  margin: 40 0 40 0  ;
}
