@import "barraNavegacion.css";

/* Disposicion en tres columnas */
.container {
  display: flex;
  flex-direction: column;
}

.container__main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.container__left {
  width: 290;
  min-width: 290;
  /*height: fit-content;*/
  height: 243;
  background-color: white;
  padding: 10;
  border-radius: 8px;
  z-index: -1;
}

.container__middle {
  /* Take the remaining width */
  flex-grow: 1;
  margin: 0 20 0 20;
}

.container__right {
  width: 290;
  min-width: 290;
  min-height: 290;
  height: fit-content;
  background-color: white;
  padding: 10;
  border-radius: 8px;
}

/* Panel Dereito */

table {
  width: 100%;
}

table .ancho {
  background: blue;
}

th, td {
  border-width: 1 0 1 0;
  border-style: solid;
  border-color: #EEEEEE;
  border-collapse: collapse;
}

table, table .celaBotons {
  border-width: 0 0 1 0;
  border-collapse: collapse;
}

table figure{ /* Volver a descargar as fotos con mais padding*/
  display: flex;
  justify-content: center;
}

table caption {
  text-align: left;
  margin: 5 0 10 0;
}

th, td {
  padding: 5;
  text-align: left;

  font-size: 15px;
  font-weight: 200;
}

th {
  font-weight: 400;
}

table .odd {
  background-color: #f7f5f0;
}

table .dato {
  font-weight: 300;
}

.container__right img {
  width: 30;
}

/* Panel Esquerdo */

.div-float {
  position: relative;
  top: -40;
}
.container__left figure {
  display: flex;
  flex-direction: column;
  margin-bottom: 20;
}

.fotoPerfil {
  /* Padding de 10, tamanho de 100, se subimos 50, non sera exactamete a metade */
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10;
}

.container__left .barraCentral {
  justify-content: center;
  margin-bottom: 20;
}

.container__left .barraCentral h2,
.container__left .barraCentral p{
  text-align: center;
}

.elemento-lista {
  /* O ancho son 290-20=270. Dividimos en tres o espazo restante*/
  /* Non me vale centralos con justify-content: center; soamente porque non
   teñen a mesma anchura */
  min-width: 90;
}

.container__left .barraInferior {
  padding: 20 0 0 0;
}

/* Actividades*/
.actividade {
  background-color: white;
  margin: 0 0 6 0;
  padding: 10 20 10 10;
  border-radius: 8px;
  min-width: 400;
  max-width: 600;
}

.actividade > .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.actividade figure {
  margin: 0 12 0 0;
}

.actividade ul {
  margin-left: 50;
}

.actividade ul li {
  margin: 0 5 0 5;
}

.logoActividade {
  width: 30;
  margin: 0 5 0 5;
}

.fotoPerfil-actividade{
  height: 40;
  width: auto;
  border-radius: 50%;
}

.barra-actividade {
  margin-bottom: 10;
}

.logoLike {
  height: 30;
  margin: 0 5;
}
