@import "comuns/barraNavegacion.css";
@import "comuns/actividade.css";
@import "comuns/estatisticas.css";

/* Disposicion en tres columnas */
.container {
  display: flex;
  flex-direction: column;
}

.container__main {

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container__left {
  order: 1;
  width: 290;
  min-width: 290;
  height: fit-content;

  background-color: white;
  padding: 10;
  border-radius: 8px;

  margin-bottom: 20px;
}

.container__middle {
  order: 2;
  margin: 0 20 0 20;
}

/* Panel Esquerdo */

.div-float {
  position: relative;
  margin-top: -40;
}
.container__left figure {
  display: flex;
  flex-direction: column;
  margin-bottom: 20;
}

.fotoPerfil {
  /* Padding de 10, tamanho de 100, se subimos 50, non sera exactamete a metade */
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10;
}

.container__left .barraCentral {
  justify-content: center;
  margin-bottom: 20;
}

.container__left .barraCentral h2,
.container__left .barraCentral p{
  text-align: center;
}

.elemento-lista {
  /* O ancho son 290-20=270. Dividimos en tres o espazo restante*/
  /* Non me vale centralos con justify-content: center; soamente porque non
   teñen a mesma anchura */
  min-width: 90;
}

.container__left .barraInferior {
  padding: 20 0;
}

.container__left .nav-enlace:hover {
  text-decoration: underline;
}

.container__right{
  order: 3;
}

@media only screen and (max-width: 1060px) {
  /* Para tablet */
  .container__main{
    flex-direction: column;
    align-items: center;
  }

  .container__left{

  }

  .container__right{
    order: 2;
    margin-bottom: 20px;
  }

  .container__middle{
    order: 3;
  }


}

@media only screen and (max-width: 600px) {
  /* Para movil */
  .container__main{
    flex-direction: column;
    align-items: center;
  }

  .container__left{
    width: 400px;
  }

  .container__right{
    width: 400px;
    order: 2;
    margin-bottom: 20px;
  }

  .container__middle{
    order: 3;
  }


}
