* {
  margin: 0;              /*Quita as marxes predeterminadas polo navegador*/
  padding: 0;
  box-sizing: border-box; /*Facilitar o dimensianamento dos elementos. Por defecto esta en content-box*/
}

@font-face {
  font-family: Helvetica Now;
  src: url("../fontes/HelveticaNowText-ExtraLight.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Helvetica Now;
  src: url("../fontes/HelveticaNowText-Light.ttf");
  font-weight: 200;
}

@font-face{
  font-family: Helvetica Now;
  src: url("../fontes/HelveticaNow_Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Helvetica Now;
  src: url("../fontes/HelveticaNowText-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Helvetica Now;
  src: url("../fontes/HelveticaNowText-Bold.ttf");
  font-weight: 500;
}

@font-face{
  font-family: Helvetica Now;
  src: url("../fontes/HelveticaNow_ExtraBold.ttf");
  font-weight: 600;
}

body {
  background-color: #EEEEEE;
  font-family: Helvetica Now, Helvetica;
  padding: 110px 162px 0; /*Arriba | Esquerda e Dereita | Abaixo*/
  font-size: 15px;
  font-weight: 300;
}

h1 {
  font-size: 150%;
  font-weight: 400;
}

h2 {
  font-size: 125%;
  font-weight: 300;
}

h3 {
  font-size: 100%;
  font-weight: 300;
}

p {
  font-size: 85%;
  font-weight: 200;
}

/* Listas */

.lista{
    list-style: none;   /*Quita os puntos da lista*/
}

/*  Listas con disposicion horizontal  */
.lista-flex {
  display: flex;
}

/* Para centrar elementos horizontalmente */
.div-center {
  align-items: center;
}

/* Linhas de separacion */

.vlinha {
  border-left: thin solid #EEEEEE;
  height:100%;
}

.hlinha {
  border-top: thin solid #EEEEEE;
  width:100%;
}

/* Actividades*/
.actividade {
  background-color: white;
  margin: 0 0 6 0;
  padding: 10 20 10 10;
  border-radius: 8px;
  min-width: 400;
  max-width: 600;
}

.actividade > .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.actividade figure {
  margin: 0 12 0 0;
}

.actividade ul {
  margin-left: 50;
}

.actividade ul li {
  margin: 0 5 0 5;
}

.logoActividade {
  width: 30;
  margin: 0 5 0 5;
}

.fotoPerfil-actividade{
  height: 40;
  width: auto;
  border-radius: 50%;
}

.barra-actividade {
  margin-bottom: 10;
}

.logoLike {
  height: 30;
  margin: 0 5;
}

/* Panel estatísticas */

.container__stats {
  width: 290;
  min-width: 290;
  min-height: 290;
  height: fit-content;
  background-color: white;
  padding: 10;
  border-radius: 8px;
}

table {
  width: 100%;
}

table .ancho {
  background: blue;
}

th, td {
  border-width: 1 0 1 0;
  border-style: solid;
  border-color: #EEEEEE;
  border-collapse: collapse;
}

table, table .celaBotons {
  border-width: 0 0 1 0;
  border-collapse: collapse;
}

table figure{ /* Volver a descargar as fotos con mais padding*/
  display: flex;
  justify-content: center;
}

table caption {
  text-align: left;
  margin: 5 0 10 0;
}

th, td {
  padding: 5;
  text-align: left;

  font-size: 15px;
  font-weight: 200;
}

th {
  font-weight: 400;
}

table .odd {
  background-color: #f7f5f0;
}

table .dato {
  font-weight: 300;
}

.container__stats img {
  width: 30;
}
