@import "xeral.css";

/*    Encabezado. Xeral   */

.header {
  background-color: white;
  height: 60px;     /*Alto da barra de navegacion*/
  width: 100%;      /*Ancho ao maximo da barra de navegacion*/
  position: fixed;  /*A barra de navegacion quedara sempre arriba fixada cando facemos scroll*/
  top: 0;           /*Alineacion da barra de navegacion fixa arriba a esquerda*/
  left: 0;
  z-index: 10;
}

nav {
  display: flex;                  /*Para distribuir os elementos do nav*/
  justify-content: space-between; /*Para espaciar os elementos*/
  margin: 0 162;
}

.contenedor_imaxe {
  align-items: center;
  display: flex;
  justify-content: center;

  width: 142px;
  height: 60px;
}

/*    Elementos das listas e enlaces. Xeral   */

/* Clase dos enlaces do menu */
.nav-enlace {
  color: black;
  text-decoration: none;
}

/*    Enlaces da parte esquerda   */

nav .elemento-menu {
  margin: 0 6px;      /*Arriba e abaixo | Esquerda e Dereita*/
  line-height: 60px;  /*Usamolo para centrar os items do menu*/
  width: max-content; /*Para evitar que ao redimensionar a pantalla corte a palabra "Sobre nos"*/
}

/* Para conseguir o subliñado cando se pasa por riba */
nav .elemento-menu a {
  padding: 0 5 20 5;
}

nav .elemento-menu a:hover {
  /*transition: .3s; Aplica un retardo*/
  border-width: 0 0 3 0;  /*Para "subliñar" cando pasamos por riba*/
  border-style: solid;
  border-color: #FF8A00;
}

/*    Elementos da parte dereita e desplegable    */

.fotoPerfil-nav{
  height: 50px;
  border-radius: 50%;

  /* Espaciado respecto do boton cara abaixo */
  margin-right: 10px;
}

.contenedor-foto-perfil {
  align-items: center;
  display: flex;
  justify-content: center;

  padding: 5px;

  /* Sen borde e cor de fondo */
  border: 0;
  background-color: white;

  width: 142px;
  height: 60px;
}

.frecha-descendente {
  background-color: transparent;

  height: 12px;
  width: 12px;

  /* Edges */
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  transform: translateY(-25%) rotate(45deg);
}

/*  Menu desplegable  */
.desplegable {
  width: 120;
}

.desplegable:hover ul {
  display: block;
}

.menu-desplegable {
  display: none;
  background: white;
  list-style: none;
  float: none;
  width: 120px;
  padding: 0;
}

.desplegable-item {
  font-style: normal;
  padding: 3 5 2;
  width: 100%;        /*Para que funcione ben o hover*/
  font-size: 15px;    /*Axustar ao tipo e tamanho de letra*/
  margin: 0;
  line-height: 30px;  /*Usamolo para centrar os items do menu*/
}

.desplegable-item:hover {
  background: #C0C0C0;
}

.logo{
  width: 125px;
}

/* Boton mais dereita */

.fotoMais{
  height: 40px;
  transition: opacity 0.2s ease-in-out;
}

.contenedor_fotoMais{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.fotoMais_baleiro {
  float: left;
  position: relative;
  top: -40px;
  z-index: 2;
}

.fotoMais_cheo{
  float: left;
  z-index: 1;
}

.fotoMais_baleiro:hover {
  opacity: 0;
}
